---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title="Too Heavy Image Page | bokken.io" description="A page with many heavy images for Prerender2 testing" />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <Header />
    <main>
      <script is:inline>
        document.addEventListener("DOMContentLoaded", () => {
            const prerender = document.querySelector("#prerender");
            prerender.innerText = document.prerendering;
        });
      </script>

      <h2>Overview</h2>
      <div>
          <span>document.prerendering: <output id="prerender"></output></span>
      </div>
      <img src="./img/heavy.png" />
      <img src="./img/heavy-1.png" />
      <img src="./img/heavy-2.png" />
      <img src="./img/heavy-3.png" />
      <img src="./img/heavy-4.png" />
      <img src="./img/heavy-5.png" />
      <img src="./img/heavy-6.png" />
      <img src="./img/heavy-7.png" />
      <img src="./img/heavy-8.png" />
      <img src="./img/heavy-9.png" />
      <img src="./img/heavy-10.png" />
    </main>
    <Footer />
  </body>
</html>
