<body>
  <header>
    <a href="https://bokken.io"><h1>bokken.io</h1></a>
    <nav>
      <ul>
        <li><a href="https://blog.bokken.io">Blog</a></li>
        <li><a href="https://x.bokken.io">Exp</a></li>
      </ul>
    </nav>
  </header>

  <ul id="bread">
    <li><a href="https://bokken.io" bokken.io>bokken.io</a></li>
    <li><a href="https://x.bokken.io">Exp</a></li>
  </ul>

  <main>
    <h2>CHIPS example</h2>
    <p>
      This is an example site of CHIPS. The below Simple map app is a map app
      (cross-origin). The map app saves the location with Cookie. And the Cookie
      has <code>Partitioned</code> attribute. So, the UA can save the Cookie. For
      the blocked example, see <a
        href="https://exp.bokken.dev/example-of-chips/">another example</a
      >.
    </p>

    <h2>Search near your place!!</h2>
    <iframe width="500" height="500" src="https://simple-map-zeta.vercel.app"
    ></iframe>
  </main>

  <footer>
    Copyright &copy; 2018 bokken. All Rights Reserved.
    <a href="https://bokken.io/privacy-policy.html">Privacy Policy</a>
  </footer>
</body>
