---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Posts from "../../components/Posts.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import fs from "fs";

const posts = fs.globSync("src/content/lab/*/index.html").map((path) => {
  const title = fs.readFileSync(path, "utf-8").match(/<title>(.*)<\/title>/)[1];
  return {
    path: path.replace("src/content/", ""),
    title,
  };
});
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      @media (max-width: 720px) {
        ul {
          padding-inline-start: 20px;
        }
      }

      ul li * {
        transition: 0.2s ease;
        padding-inline-end: 0.5em;
      }

      ul li a:hover h3 ul li a:hover .date {
        color: rgb(var(--accent));
      }
      ul li a {
        display: inline;
      }
      .date {
        margin: 0;
        display: inline;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            posts.map((post) => {
              return (
                <li>
                  <a href={post.path}>
                    <span class="title">{post.title}</span>
                  </a>
                </li>
              );
            })
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
