html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  height: 100%;
  color: #333;
  line-height: 1.7;
}

body {
  background: #fefefe;
  height: 100%;
  margin: 0 auto;
}

header {
  background: #00a4ac;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
}

header > a {
  color: #fff;
  text-decoration: none;
}

header > a > h1 {
  display: inline-block;
}

header > nav {
  display: inline-block;
  padding: 0 25px;
}

header > nav > ul {
  margin: 0px;
  padding: 0px;
}

header > nav > ul > li {
  display: inline-block;
  padding: 0px 10px;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

ul#bread {
  display: inline-block;
  padding: 0px 10px;
}

ul#bread > li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

ul#bread > li ::before {
  content: '>';
  padding: 5px;
}

dd > ul {
  margin: 0;
  padding: 0;
  width: 500px;
  max-width: 80vw;
}

dd > ul > li {
  background: #888;
  color: #fff;
  padding: 5px 10px;
  margin: 1px 0px;
  border-radius: 25px;
  display: inline-block;
  word-wrap: break-word;
}

header > a > h1 {
  font-size: 17px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 1.5em;
  margin-top: 1em;
}

h2 {
  font-size: 1.4em;
  margin-top: 1.5em;
}

h3 {
  font-size: 1.3em;
  margin-top: 1.5em;
}
h4 {
  font-size: 1.2em;
  margin-top: 1.5em;
}

h5 {
  font-size: 1.1em;
  margin-top: 1.5em;
}

h6 {
  font-size: 1em;
  margin-top: 1.5em;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: #333;
}

h1 > a::before {
  content: '#';
  padding-right: 5px;
  text-decoration: none;
}
h2 > a::before {
  content: '##';
  padding-right: 5px;
}
h3 > a::before {
  content: '###';
  padding-right: 5px;
}
h4 > a::before {
  content: '####';
  padding-right: 5px;
}
h5 > a::before {
  content: '#####';
  padding-right: 5px;
}
h6 > a::before {
  content: '######';
  padding-right: 5px;
}

main {
  font-size: 17px;
  padding: 0 1em 8.5em 2em;
}

dt::after {
  content: ':';
}

dt {
  font-weight: bold;
  margin: 0.5em 0 0.5em;
}

header > h1 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0 0.25em;
}

img#article-tag {
  margin: 0;
  vertical-align: text-bottom;
}

a {
  color: RoyalBlue;
  text-decoration-line: none;
}

div#background img {
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  opacity: 0.2;
  z-index: -1;
}

pre {
  padding: 15px;
  font-size: 90%;
  width: 60vw;
  min-width: 340px;
  background: #eee;
  overflow-x: visible;
  white-space: pre-wrap;
  border-radius: 5px;
}

article {
  padding-top: 15px;
  padding-bottom: 25px;
  max-width: 1200px;
  margin: 0 auto;
}

article > p {
  font-size: 17px;
  margin-bottom: 20px;
}

article code {
  background: #eee;
  padding: 3px;
  border-radius: 5px;
  word-break: break-word;
}

article > blockquote {
  color: #777;
  background-color: #eee;
  padding: 15px 25px;
  border-left: thick solid #888;
  font-size: 90%;
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 2em;
}

main > article > ol,
main > article > ul {
  margin-top: 2em;
  margin-bottom: 2em;
}

article li {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

div#blog-info {
  font-size: 80%;
}

div#blog-info > dt {
  display: inline;
}

div#blog-info > dd {
  display: inline;
  margin-left: 0.5em;
  margin-right: 1em;
}

span.article-title {
  margin-left: 0.5em;
  /* font-weight: bold; */
}

span.tags {
  margin-left: 1em;
}

div.article-pager {
  margin: 0 auto;
  width: 300px;
  padding: 15px;
}

div.prev-article {
  display: inline-block;
  text-align: left;
}

div.blog-top {
  display: inline-block;
  margin: 0 15px;
}

div.article-sns {
  margin: 0 auto;
}

div.next-article {
  display: inline-block;
  text-align: right;
}

div.prev-article > a::before {
  content: '<<';
}

div.next-article > a::after {
  content: '>>';
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 80%;
  background: #575757;
  color: white;
  padding: 0.5em 1em;
}

footer > a {
  color: white;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  padding: 5px;
}
th {
  border-bottom: 2px solid #000;
}
td,
th {
  padding: 5px;
}
