html {
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Arial', 'Yu Gothic', 'Meiryo', sans-serif;
  height: 100%;
  color: #333;
  line-height: 1.7;
}

body {
  background: #fefefe;
  height: 100%;
  margin: 0 auto;
}

header {
  background: #00a4ac;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
  height: 40px;
}

header > a {
  color: #fff;
  text-decoration: none;
}

header > a > h1 {
  display: inline-block;
}

header > nav {
  display: inline-block;
  padding: 0 25px;
}

header > nav > ul {
  margin: 0px;
  padding: 0px;
}

header > nav > ul > li {
  display: inline-block;
  padding: 0px 10px;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
}

ul#bread {
  display: inline-block;
  padding: 0px 10px;
}

ul#bread > li {
  display: inline-block;
  padding: 0px;
  margin: 0px;
}

ul#bread > li ::before {
  content: '>';
  padding: 5px;
}

dd > ul {
  margin: 0;
  padding: 0;
  width: 500px;
  max-width: 80vw;
}

dd > ul > li {
  background: #888;
  color: #fff;
  padding: 5px 10px;
  margin: 1px 0px;
  border-radius: 25px;
  display: inline-block;
  word-wrap: break-word;
}

header > a > h1 {
  font-size: 17px;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}

h1 > a::before {
  content: '#';
  padding-right: 5px;
}
h2 > a::before {
  content: '##';
  padding-right: 5px;
}
h3 > a::before {
  content: '###';
  padding-right: 5px;
}
h4 > a::before {
  content: '####';
  padding-right: 5px;
}
h5 > a::before {
  content: '#####';
  padding-right: 5px;
}
h6 > a::before {
  content: '######';
  padding-right: 5px;
}

main {
  padding: 0 1.5em 3em 1.5em;
}

dt::after {
  content: ':';
}

dt {
  font-weight: bold;
  margin: 0.5em 0 0.5em;
}

header > h1 {
  margin: 0;
  padding: 0;
}

img {
  margin: 0 0.25em;
}

a {
  text-decoration-line: none;
}

div#background img {
  height: 100%;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

pre {
  padding: 25px;
  font-size: 110%;
  background: #f5f5f5;
}

article {
  width: 70vw;
  margin: 0 auto;
  padding: 75px;
  padding-top: 25px;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 80%;
  background: #575757;
  color: white;
  padding: 0.5em 1em;
}
