---
import BaseHead from "../../../components/BaseHead.astro";
import Header from "../../../components/Header.astro";
import Footer from "../../../components/Footer.astro";

const swCode = `if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker
      .register('/assets/js/sw.js', {scope: '.'})
      .then((registration) => {
        console.log(
          'Successfully registered service worker with scope: ',
          registration.scope
        );
      })
      .catch((err) => {
        console.error('Failed to register service worker with err: ', err);
      });
  });
}`;

const swJsCode = `self.addEventListener('install', (event) => {
  console.info('installed');
});

self.addEventListener('activate', (event) => {
  console.info('service worker activated');
});

self.addEventListener('fetch', (event) => {
  console.info('fetch event occurred');
});`;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Example Progressive Web App | bokken.io" description="A sample site demonstrating Progressive Web App (PWA) features" />
    <link rel="manifest" href="./manifest.json" />
    <script is:inline>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker
            .register('exp-sw.js', {scope: '/example-pwa'})
            .then((registration) => {
              console.log(
                'Successfully registered service worker with scope: ',
                registration.scope
              );
            })
            .catch((err) => {
              console.error('Failed to register service worker with err: ', err);
            });
        });
      }
    </script>
  </head>
  <body>
    <Header />
    <main>
      <ul id="bread">
        <li><a href="https://x.bokken.io">x.bokken.io</a></li>
        <li><a href="https://x.bokken.io/example-pwa">example-pwa</a></li>
      </ul>
      <article>
        <p>This is a sample site of PWA.</p>
        <p>You can install this web site as an Application.</p>

        <code>/assets/js/register-service-worker.js</code>

        <pre set:text={swCode}></pre>

        <code>/assets/js/sw.js</code>

        <pre set:text={swJsCode}></pre>
      </article>
    </main>
    <Footer />
  </body>
</html>
