<!DOCTYPE html>
<html>
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"
  >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="bokken.io" />

    <link rel="author" href="humans.txt" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-83287008-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-83287008-4');
    </script>
    <title>bokken.io</title>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bokken_" />
    <meta name="twitter:creator" content="@bokken_" />
    <meta
      name="twitter:image"
      content="https://bokken.io/assets/img/icon.png"
    />
    <!-- ogp -->
    <meta property="og:url" content="https://bokken.io" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="bokken.io" />
    <meta property="og:description" content="bokken's home page" />
    <meta property="og:site_name" content="bokken.io" />
    <meta property="og:image" content="https://bokken.io/assets/img/icon.png" />

    <link rel=stylesheet type=text/css href=assets/css/main.css /> <link
    rel="shortcut icon" href=assets/img/favicon.ico />
    <link rel="preload" href="assets/img/web.svg" as="image" />
  </head>

  <body>
    <header>
      <a href="https://bokken.io"><h1>bokken.io</h1></a>
      <nav>
        <ul>
          <li><a href="https://blog.bokken.io">Blog</a></li>
          <li><a href="https://x.bokken.io">Exp</a></li>
        </ul>
      </nav>
    </header>

    <ul id="bread">
      <li><a href="https://bokken.io">bokken.io</a></li>
      <li>
        <a href="https://bokken.io/privacy-policy.html">プライバシーポリシー</a>
      </li>
    </ul>

    <main>
      <h2>プライバシーポリシー</h2>

      <p>本サイトでは下記の通りプライバシーポリシーを定める。</p>

      <ul>
        <li>
          個人情報で収集しているものとその利用目的
          <ul>
            <li>
              利用している情報
              <ul>
                <li>
                  本サイトでは厳密には個人を特定できる情報は収集していないが、Google
                  Analytics
                  による情報やアクセスログに含まれるものを情報として収集している
                  <ul>
                    <li>
                      Google Analytics については<a
                        href="https://marketingplatform.google.com/intl/ja/about/analytics/"
                        >こちら</a
                      >を参照していただきたい
                    </li>
                    <li>
                      アクセスログについては、一般的なログ情報が出力されており下記を含む
                      <ul>
                        <li>
                          アクセスがあった日時、アクセスした先のパス名、IP
                          アドレス、ユーザエージェント
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              利用している目的
              <ul>
                <li>
                  アクセス頻度等の情報からより質の高く需要のあるコンテンツを提供するため。
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          個人情報提供の拒否の場合
          <ul>
            <li>
              上述したように本サイトでは Google Analytics
              を利用している。それを良しとしない場合は Adblock などのアドオンで
              Google Analytics 用のスクリプトをロードしないようにしてほしい。
              <ul>
                <li>
                  あらかじめの確認がない点については、ユーザの利便性とひとまず法に定められている事業者ではないという点で許していただきたい
                </li>
              </ul>
            </li>
            <li>
              その際に <a href="https://blog.bokken.io">blog</a> や
              <a href="https://x.bokken.io">exp</a
              >のコンテンツが動かなくなる可能性があるので、そこは適宜 Adblock
              をオフにするなどして対応してほしい。
            </li>
          </ul>
        </li>
        <li>
          個人情報の開示・提供
          <ul>
            <li>
              特定のユーザに対して開示が必要となる情報はなく、特定のユーザと収集している情報を紐付ける方法はないので不可能である。
            </li>
            <li>
              個人情報保護法第二十三条に該当するケースに相当する場合があったときには開示を行う
            </li>
          </ul>
        </li>
        <li>
          個人情報の管理責任
          <ul>
            <li><a href="https://twitter.com/bokken_">@bokken_</a> である。</li>
          </ul>
        </li>
        <li>
          このプライバシーポリシーは基本的に予告なくアップデートされる
          <ul>
            <li>しかしユーザに影響がある場合にはブログにて予告や報告を行う</li>
          </ul>
        </li>
      </ul>

      <div id="background"><img src="assets/img/web.svg" /></div>
    </main>

    <%- include('footer') %>
  </body>
</html>
