<!DOCTYPE html>
<html lang="ja">
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"
  >
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="bokken.io" />
    <link rel="author" href="humans.txt" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-83287008-4"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-83287008-4');
    </script>
    <title>Exp | bokken.io</title>

    <link rel="shortcut icon" href=assets/img/favicon.ico />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bokken_" />
    <meta name="twitter:creator" content="@bokken_" />
    <meta
      name="twitter:image"
      content="https://bokken.io/assets/img/icon.png"
    />
    <!-- ogp -->
    <meta property="og:url" content="https://x.bokken.io" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="x.bokken.io" />
    <meta property="og:description" content="bokken tech web" />
    <meta property="og:site_name" content="x.bokken.io" />
    <meta property="og:image" content="https://bokken.io/assets/img/icon.png" />

    <link rel=stylesheet type=text/css href=assets/css/main.css />
    <link rel="preload" href="assets/img/web.svg" as="image" />
  </head>

  <body>
    <header>
      <a href="https://bokken.io"><h1>bokken.io</h1></a>
      <nav>
        <ul>
          <li><a href="https://blog.bokken.io">Blog</a></li>
          <li><a href="https://x.bokken.io">Exp</a></li>
        </ul>
      </nav>
    </header>

    <ul id="bread">
      <li><a href="https://bokken.io" bokken.io>bokken.io</a></li>
      <li><a href="https://x.bokken.io">Exp</a></li>
    </ul>

    <main>
      <section>
        <h2>Exp</h2>
        <ul>
          <li><a href="example-pwa/index.html">Example PWA</a></li>
          <li><a href="example-render-blocking-site/index.html">Example of render-blocking web site</a></li>
          <li><a href="example-performance-timeline/index.html">Example of performance timeline web site</a></li>
          <li><a href="example-coep/index.html">Example of COEP web site</a></li>
          <li><a href="example-prerender2/index.html">Example of Prerender2 web site</a></li>
          <li><a href="example-chips/index.html">Example of CHIPS web site</a></li>

        </ul>
      </section>

    </main>

    <%- include('footer'); %>
  </body>
</html>
